name: python-ETL-01
on: 
  push:
    branches:
      - main
  schedule:
    - cron: '0 09 * * *'
jobs:
  my-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v3
    - name: install
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: python main
      run: |
        python3 main.py
